main.content {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 1fr repeat(6, $width/6) 1fr;
  grid-template-areas: '. middle middle middle middle middle middle .';
  min-height: 75vh;

  a { color: $raisin; }

  article.post {

    header {
      max-width: $width - 15;

      .post-categories {
        padding: 0;

        li {
          display: inline-block;
          padding: 0 1em;
        }
      }
    }

    grid-area: middle;
    grid-row: auto;
    margin: 1em 0 1em;

    figure.featured-image {
      margin: 1em auto;
    }

    figure.featured-image img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      float: none;
      display: block;
    }

    footer, header {
      margin: 0 auto;
    }

    .post-content {
      font-size: 1.313rem;
      line-height: 1.6;
      margin: 0 auto;
      max-width: $width - 15;

      pre {
        background-color: $olive;
        display: block;
        overflow: hidden;
        padding: 1em;
        color: white;
        word-wrap: break-word;

        code {
          white-space: pre-wrap;
        }
      }

      figure {
        margin: 1em 0;

        img {
          height: auto;
          margin: 1em auto;
          float: none;
          display: block;
        }
      }
    }
  }

  footer {

    .wrapper_tags {
      
      ul.tags {
        margin: $font-size * 2 0; padding: 0;

        li.post-tag {
          display: inline-block;
          padding: 0 $font-size;
        }
      }
    }
    .author {
      .author-pic { display: block; }
      .author-bio { display: inline-block; }
      .author-name { display: inline-block; }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  main.content {
    display: grid;
    grid-template-columns: 1fr repeat(4, 22%) 1fr;
    grid-template-areas: '. middle middle middle middle .';
  }
}

@media screen and (max-width: 768px) {
  main.content {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-areas: '. middle .';
  }
}