.footer {
	background: $olive;
	color: $white;
	overflow: hidden;
	ul.footer-widgets {
		max-width: $width;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
		padding: 0;
		margin: 0 auto;
		list-style-type: none;
		li.widget {
			display: block;
			box-sizing: border-box;
			padding: 1em 2em 1em;
			flex: 1 0 $width / 3;
		}
	}
	.copyright {
		max-width: $width;
		margin: 2em auto 0;
		text-align: center;
	}
}