// Heading styles

h1 {
  font-size: 3rem;
  line-height: 2;
}
h2 {
  font-size: 2.4rem;
  line-height: 2;
}
h3 {
  font-size: 2rem;
  line-height: 1.6;
}
h4 {
  font-size: 1.6rem;
  line-height: 1.6;
}

p {
  margin: 1.875rem auto;
}