// Base Colours 
$raisin: #252422;
$cerulean: #27A9EA;
$olive: #403D39;
$white: #fcfcfc;
$font-size: 1em;
$font: 'Fira Sans', sans-serif;

// Misc Colours 

$fb: #3b5999;
$twitter: #55acee;
$linkedin: #0077B5;

// Other values
$width: 60rem;
