@import '_normalize.scss';
@import '_wp-base.scss';
@import '_variables.scss';
@import '_typography.scss';
@import '_header.scss';
@import '_body.scss';
@import '_footer.scss';
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600';

/* === SLIM styles begins === */

html, body {
  overflow-x: hidden;
}

body {
  font-family: $font;
  box-sizing: border-box;
  font-size: $font-size;
  line-height: $font-size * 1.5;
  color: $raisin;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:link, &:visited, &:hover {
    color: inherit;
    text-decoration: none;
  }
}

img, iframe, object, embed, video {
    height: auto;
    max-width: 100%;
}